@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-main {
  background-color: #212121;
  color: #ececec;
}

.link {
  @apply hover:text-blue-600;
}

.title {
  @apply font-semibold text-xl mb-4;
}

.subtitle {
  @apply font-semibold text-lg mb-2;
}

.button {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}
